<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="Vex"
           Manufacturer="Vex"
           Version="1.0.3.0"
           UpgradeCode="42c69ead-32da-4ae6-a348-a0ae7fd49e0e"
           Scope="perUserOrMachine">

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    
    <MediaTemplate EmbedCab="yes" />

    <Icon Id="AppIcon" SourceFile="..\Vex.App\Assets\app.ico" />
    <Property Id="ARPPRODUCTICON" Value="AppIcon" />

    <Feature Id="MainFeature" Title="Vex" Level="1">
      <ComponentGroupRef Id="AppComponents" />
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="DesktopShortcut" />
    </Feature>

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="Vex" />
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="Vex" />
    </StandardDirectory>

    <StandardDirectory Id="DesktopFolder">
      <Component Id="DesktopShortcut" Guid="e3f4a5b6-c7d8-49e0-f1a2-b3c4d5e6f7a8" Bitness="always64">
        <Shortcut Id="ApplicationDesktopShortcut"
                  Name="Vex"
                  Description="Vex Terminal Workspace"
                  Target="[INSTALLFOLDER]Vex.App.exe"
                  WorkingDirectory="INSTALLFOLDER"
                  Icon="AppIcon" />
        <RegistryValue Root="HKCU" Key="Software\Vex" Name="desktopShortcut" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </StandardDirectory>

    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="7b8e5c1d-2a4f-4d6b-9e8a-1c3f5a7b9d1e" Bitness="always64">
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="Vex"
                  Description="Vex Terminal Workspace"
                  Target="[INSTALLFOLDER]Vex.App.exe"
                  WorkingDirectory="INSTALLFOLDER"
                  Icon="AppIcon" />
        <RemoveFolder Id="CleanUpShortCut" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\Vex" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>


  </Package>

  <Fragment>
    <ComponentGroup Id="AppComponents" Directory="INSTALLFOLDER">
      <Files Include="..\publish\app\**" />
    </ComponentGroup>
  </Fragment>
</Wix>
